th {
  border-bottom: 1.5px solid gray;
  margin: 0;
  padding: 0;
  text-align: left;
}

th:first-child {
  text-align: center;
}

table {
  width: 80%;
  border: 1.5px solid gray;
  margin: auto;
  margin-top: 50px;
  padding: 0;
}

td {
  padding-left: 2px;
}
